[mysql]
default-character-set=utf8mb4
prompt="\\u@\\h \\r:\\m:\\s > "
user=user
password=lhYdS18ItkqpDfb
# host=127.0.0.1
# port=3306
socket=/var/run/mysqld/mysqld.sock
# database=pet

[mysqldump]
default-character-set=utf8mb4
set-charset=TRUE
add-drop-database
add-drop-table
add-locks
hex-blob
user=user
password=lhYdS18ItkqpDfb
# host=127.0.0.1
# port=3306
socket=/var/run/mysqld/mysqld.sock
