*.swp
*~
nohup.out

/.moc/cache/*
/.moc/equalizer
/.moc/last_directory
/.moc/softmixer
/.moc/playlist.m3u

/xkb/debug/*.dump
/script/ipmonitor/*.txt

/zsh/oh-my-zsh/
/zsh/history.txt

/nordvpn/config/
/nordvpn/tmp-config/
/nordvpn/openvpn.txt
