ACTION=="add", ATTRS{idVendor}=="1006", ATTRS{idProduct}=="0022", RUN+="/home/zhengkai/conf/misc/udev_keyboard/udev.sh", OWNER="zhengkai"
ACTION=="add", ATTRS{idVendor}=="04d9", ATTRS{idProduct}=="1818", RUN+="/home/zhengkai/conf/misc/udev_keyboard/udev.sh", OWNER="zhengkai"
ACTION=="add", ATTRS{idVendor}=="0853", ATTRS{idProduct}=="0100", RUN+="/home/zhengkai/conf/misc/udev_keyboard/udev.sh", OWNER="zhengkai"
